.wrapper {
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;

  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  color: var(--color-accent);
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.main {
  flex-grow: 1;
}

.memberList {
  background: var(--color-gray);
  padding: 15px;
  display: flex;
  gap: 15px;
}

.footer {
  margin-top: 15px;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
